
/*menu header*/
/*
header {
  background: #74CCDF;  
  color: #ffffff;
}
*/
/* lo siguiente le cambia los colores a los links del header */

header a:hover {
  background-color: #4a6fff;
  color: #ffffff;
  text-decoration: none;
}
/*
header a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
header a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
header a:active {
  color: #74CCDF;
  background-color: transparent;
  text-decoration: none;
}
*/
/* Acá termina colores links header. */

.navbar {
  position: sticky;
  top: 0;
}

.navbar ul{
  background: #2db2cf;
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
  justify-content:end;
}

.navbar li a{
  display: inline-block;
  text-decoration: none;
  padding: .6em  1em;
}

.active_option {
  background: #0033ff;
  color: #ffffff;  
}

/*termina menu header*/