/*menu header*/
.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: rgb(0, 156, 135);
    display: flex;
    flex-wrap:wrap;
    justify-content:end
  }
  .navbar li a{
    display: inline-block;
    text-decoration: none;
    padding: .6em  1em;
  }
#navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: rgb(0, 156, 135);
    display: flex;
    flex-wrap:wrap;
    justify-content:end
  }
  #navbar li a{
    display: inline-block;
    text-decoration: none;
    padding: .6em  1em;
  }
  /*termina menu header*/
  /* lo siguiente le cambia los colores a los links del header */
  header a:link {
    color: rgb(11, 158, 139);
    background-color: transparent;
    text-decoration: none;
  }
  
  /* esta pseudo clase no está funcionando, supongo que es porque se vuelven a cargar las páginas */
  header a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  header a:hover {
    color: #008085;
    background-color: #c1ffe8;
    text-decoration: underline;
  }
  header a:active {
    color: rgb(1, 77, 66);
    background-color: transparent;
    text-decoration: underline;
  }
  /* Acá termina colores links header. */

  /* hacer sticky la barra de menú */
    
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .bodyhome {
    padding-top: 60px;
  }
  /*hasta acá llega barra sticky*/