
/*menu header*/
/*
header {
  background: #74CCDF;  
  color: #ffffff;
}
*/
/* lo siguiente le cambia los colores a los links del header */



header a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
header a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
header a:hover {
  background-color: #49a4c0;
  border-radius:20% 20% 0 0;
  border: solid 1px;
  color: #ffffff;
  text-decoration: none;
}
header a:active {
  color: #74CCDF;
  background-color: transparent;
  text-decoration: none;
}

/* Acá termina colores links header. */

.navbar {
  position: sticky;
  top: 0;
}

.navbar ul{
  background: #2db2cf;
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
  justify-content:end;
}

.navbar li a{
  display: inline-block;
  text-decoration: none;
  padding: .6em  1em;
}

.active_option {
  background: #a9edf0;
  border-radius:20% 20% 0 0;
  color: #2db2cf;
  border-bottom: solid 1px #2db2cf;
  border-top: solid 1px #2db2cf; 
}

/*termina menu header*/