:root {
  /* BODY */
  --Color_bk_body: #f0fafa; 
  --Color_body:rgb(51, 42, 113); 


  /* FORMULARIO */

  /* legend */
  --Color_bk_legend: #caf1f4;
  /* asterisco del label */
  --Color_star: #ff0000;

  /* Imput */
  --Color_bk_input: #fff;
	--Color_borcer_imput: #808080;

  /* Buton */
  --Color_btn: #fff;
  --Color_bk_btn: #020261;


  /* STAFF */
  --Color_bk_card: #d5f5f7;

}


body {
    background-color: var(--Color_bk_body);
    color:var(--Color_body);
/*    margin:0;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
  }


/*      CONTAINER DEL BODY  */
/*---------------------------*/
.main_container {
  width: 100%;
  max-width: 1500px;
  min-width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

/*          HEADER           */
/*---------------------------*/
.header {
  display: inline-flex;
  height: 130px;
  padding: 0;
  width: 100%;
}

.title_header {
  width: 120%;
  text-align: center;
  box-sizing: border-box;
}

.title_header h1 {
  font-size: 2.5rem;
}
.title_header h2 {
  font-size: 1.5rem;
}

.logo_left_header {
  width: 20%;
  margin-left: auto;
  box-sizing: border-box;
}

.logo_rigth_header {
  width: 20%;
  margin-right: auto;
  box-sizing: border-box;
}

.logo_left_header img, .logo_rigth_header img {
  height: 100%;
  width: auto;
}

/* para width < 950 
  elimina el logo de la derecha del header */
@media (max-width: 950px) {
  .logo_rigth_header {
      display: none;
  }
}

/* para width < 780 
  elimina el logo de la izquierda del header */
  @media (max-width: 780px) {
  .logo_left_header {
      display: none;
  }
}

/* para width < 650 
  aumenta el alto del header */
  @media (max-width: 650px) {
  .header {
    height: 195px;
  }
}

/* para width < 400 
/*  reduce el alto del header y elimina el h2 */
@media (max-width: 400px) {
  .header {
    height: 170px;
  }
  
  .title_header h2 {
    display: none;
  }
}

/* presentation puede servir para una o más páginas */

.presentation, .presentation_consultorios, .presentation_staff {
    margin: 3%;
    padding: 3%;
    border: 3px solid ;
    border-radius: 40px;
}

.presentation, .presentation_consultorios {
    background-image: url("../images/bak_main_sky_strong.jpg");
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center;
}


/* Para desktop, la info y el form, se verán de manera simultánea 
ocupando 50% del width c/u. En cambio para dispositivos móviles, 
la info quedará arriba del form */


@media (max-width: 992px){
  .grilla {
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:  "presentation presentation" 
                          "turnos turnos";
  }
}
@media (min-width: 992px){
  .grilla {
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "presentation turnos"
  }
}

/* definiendo grilla para info y form_turnos */
.grilla {
  display:grid;
}

.grilla .presentation {
  grid-area: presentation;
}

.grilla .form_turnos {
  grid-area: turnos;
}

/* PARA MODIFICAR FORMULARIO DE TURNOS */
.form_turnos{
 
  margin:3%;
  padding: 0;
  border: 3px solid ;
  border-radius: 40px;
}

.form_titles {
  text-align: center;
  padding: 1% 1% 2% 1%;
}


.form_titles h2 {
  font-size: 2rem;
}

.form_titles h3 {
  font-size: 1.3rem;
  
}


/* Los títulos de los fieldset, legends o secciones del form */
.legends {
  padding: .5% 1%;
  text-align: center;
  background-color: var(--Color_bk_legend);
  font-weight: bold;
  font-size: 1.5rem;
}

/* cada sección del Form */
.fields_set{
  display: flex;
  flex-wrap: wrap;
  padding: 1% 2% 3% 2%;  
}

/* Campos */
.field {
  margin: 1.5% 2% 1% 2%;
}

label {
  font-size: .8rem;
}

.star{
  color: var(--Color_star)
}

input {
  font-size: 1rem;
  padding: .5%;  
}


.info_field {
  width: 100%;
  font-size: 1.2rem;
  margin: .5% 2% 0% 2%;
}


/* Seguimos dando estilo a form  */

.formulario__grupo-input {
	position:static;
}

.formulario__input {

	background: var(--Color_bk_input);
	border: 1px solid var(--Color_borcer_imput);
	border-radius: 5px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 1px solid #0075FF;
	outline: none;
	box-shadow: 1px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position:inline;
	right: 7px;
	bottom: 2px;
	z-index: 100;
	font-size: 12px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
  padding-left:3px;
	display: none;
  margin:3px;
}

.formulario__mensaje-activo {
	display:block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 3rem;
	line-height: 3rem;
	padding: 0% 7%;
	background: var(--Color_bk_btn);
	color: var(--Color_btn);
  font-size: 1rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
  margin-bottom:10px;
  /*margin-left:3px;*/
	cursor: pointer;
  transition: .1s ease all;

}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #ffffff;
	display: none;
  height: 45px;
	line-height: 45px;
	background: #119200;
	padding: 0 15px;
	border-radius: 3px;
  padding-left:3px;
	display: none;
  margin:3px;
  
}

.formulario__mensaje-exito-activo {
	display:block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 1px solid #bb2929;
}

/* Botón enviar */
.button_send {
  margin:1em;
}

/*ESTILOS PARA LA PAGINA STAFF*/

/* staff */
.staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1600px;
}

.card {
  background-color: var(--Color_bk_card);
  width: 15em;
  padding:1em;
  margin:1em;
  text-align:center;
}

.imgStaff {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/*CONSULTORIOS */

.mainConsultorios {
  display:inline-flex;
}

.presentation_consultorios{
  width:70%;
  margin:3% 1% 3% 3%
}

.imagesConsultorios {
  width:30%;
  margin: 10px;
}

.imagesConsultorios img{
  width:100%;
  /* height:auto; */
}

/* CORTE PARA CONSULTORIOS */
@media (max-width: 400px) {
  .imagesConsultorios{
    display:none;
  }
  .presentation_consultorios{
    width:100%;
    margin:3%
  }
}