body {
    background-color: #f0fafa;
    color:rgb(51, 42, 113);
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* presentation puede servir para una o más páginas */
.presentation {
    margin: 3%;
    padding: 3%;
    border: 5px solid ;
    border-radius: 50px;
}
.main_title {
    font-size: 300%;
    text-align: center;

}
.sub_title {
  font-size: 150%;
  text-align:center;
}

/* definiendo grilla para info y form_turnos */
.grilla {
  display:grid;
}

.grilla .presentationTurnos {
  grid-area: presentation;
}
.presentationTurnos {
  margin: 3%; 
  padding: 3%;
  border: 5px solid ;
  border-radius: 50px;
}

.grilla .turnos {
  grid-area: turnos;
}

/* PARA MODIFICAR FORMULARIO DE TURNOS */
.form{
  margin:3%;
}
/* cada sección del Form */
.fields_datos{
  margin-top: 5%;
  padding-bottom: 5%;
}
.fields_receta{
  margin-top: 5%;
  padding-bottom: 5%;
}
.fields_turnos{
  margin-top: 5%;
  padding-bottom: 5%;
}

/* Campos */
.field_form {
  padding-top: 3.5%;
}

/* Para desktop, la info y el form, se verán de manera simultánea 
ocupando 50% del width c/u. En cambio para dispositivos móviles, 
la info quedará arriba del form */

@media (max-width: 992px){
  .grilla {
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:  "presentation"
                          "turnos";
  }
}
@media (min-width: 992px){
  .grilla {
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "presentation turnos"
  }
}


/*  @media hará que para dispositivos muy pequeños, 
    de menos de 350px de width, input paase abajo de label.
    para el resto de los dispositivos, estará a la izquierda */

 @media (max-width: 350px){
  .field_form label {
    display: block;
  }
}
@media (min-width: 350px){
  .field_form label{
    display : inline;
  }
}
/* Seguimos dando estilo a form  */

.formulario__grupo-input {
	position:static;
}

.formulario__input {

	background: #fff;
	border: 1px solid;
	border-radius: 3px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 1px solid #0075FF;
	outline: none;
	box-shadow: 1px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position:inline;
	right: 7px;
	bottom: 2px;
	z-index: 100;
	font-size: 12px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

 
/* .formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
} */

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
  padding-left:3px;
	display: none;
  margin:3px;
}

.formulario__mensaje-activo {
	display:block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgb(51, 42, 113);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
  margin:10px;
  margin-left:3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #ffffff;
	display: none;
  height: 45px;
	line-height: 45px;
	background: #119200;
	padding: 0 15px;
	border-radius: 3px;
  padding-left:3px;
	display: none;
  margin:3px;
  
}

.formulario__mensaje-exito-activo {
	display:block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 1px solid #bb2929;
}



/* Botón enviar */
.button_send {
  margin:1em;
}

/*ESTILOS PARA LA PAGINA STAFF*/

    /* staff */
    .staff {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1600px;
    }
    .card {
      background-color:#d5f5f7;
      width: 15em;
      padding:1em;
      margin:1em;
      text-align:center;
    }
    .imgStaff {
      display: block;
      border: 0;
      width: 100%;
      height: auto;
    }

